@font-face {
  font-family: Lato-Light;
  src: url(../fonts/Lato-Light.ttf);
}

@font-face {
  font-family: Lato-Bold;
  src: url(../fonts/Lato-Bold.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Lato-Light, sans-serif;
  font-size: 20px;
  min-width: 320px;
}

h1 {
  font-family: Lato-Bold, sans-serif;
}

.active {
  font-family: Lato-Bold, sans-serif;
  -webkit-box-shadow: 0 4px 0 #800080;
          box-shadow: 0 4px 0 #800080;
}

.container {
  max-width: 1180px;
  width: 100%;
  padding: 70px 0;
  margin: 0 auto;
}

.primary-button {
  -webkit-box-shadow: 0 9px 34px rgba(31, 29, 38, 0.8);
          box-shadow: 0 9px 34px rgba(31, 29, 38, 0.8);
  border: 0;
  border-radius: 3px;
  padding: 0 28px;
  height: 50px;
  font-size: 22px;
  background: #800080;
  color: #fff;
  font-family: Lato-Bold, sans-serif;
  cursor: pointer;
}

.primary-button:hover {
  background: #b300b2;
}

input:required, select:required {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*************************************** HEADER ***/
.header {
  background: #060709;
  color: #fff;
  width: 100%;
  z-index: 1000;
}

.header .container {
  padding: 10px 0;
}

.header__materials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo img {
  width: 200px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__menu div {
  margin-left: 20px;
}

.header__menu a {
  text-decoration: none;
  color: #fff;
}

.header__menu a:hover {
  -webkit-box-shadow: 0 4px 0 #800080;
          box-shadow: 0 4px 0 #800080;
}

.header__contacts a {
  color: #fff;
  text-decoration: none;
}

.header__contacts a:hover {
  -webkit-box-shadow: 0 4px 0 #800080;
          box-shadow: 0 4px 0 #800080;
}

.header__contacts p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__contacts i {
  font-size: 25px;
  margin-right: 7px;
}

.header__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__language a {
  margin-left: 15px;
  text-decoration: none;
  color: #fff;
}

/*************************************** MAIN-SCREEN ***/
.main-screen {
  height: 1000px;
  background: url("../images/main-bg.jpg") no-repeat bottom;
  background-size: cover;
  color: #fff;
}

.main-screen .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0;
}

.main-screen h1 {
  margin-bottom: 10px;
}

.main-screen button {
  height: 55px;
}

.main-screen__title {
  text-align: center;
  margin-bottom: 20px;
}

/*************************************** SERVICES ***/
.services__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Lato-Bold, sans-serif;
  margin-bottom: 50px;
  font-size: 32px;
}

.services__main-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__main-card .title {
  font-family: Lato-Bold, sans-serif;
  font-size: 28px;
  display: inline-block;
}

.services__main-card span {
  font-family: Lato-Bold, sans-serif;
  margin-bottom: 15px;
}

.services__main-card p {
  font-size: 20px;
}

.services__main-card a {
  font-family: Lato-Bold, sans-serif;
  font-size: 20px;
  margin-top: 20px;
  display: inline-block;
}

.services__main-card a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.services__main-card ul {
  list-style-type: square;
}

.services__main-card ul li {
  margin-bottom: 10px;
}

.services__line {
  border-top: 4px solid #800080;
  width: 50px;
  margin-bottom: 15px;
}

.services__barre-square {
  width: 80px;
  height: 80px;
  background-color: #800080;
  position: absolute;
  margin-left: -25px;
  margin-top: -30px;
}

.services__stretching-square {
  width: 100px;
  height: 150px;
  border: 4px solid #800080;
  position: absolute;
  margin-top: 330px;
  margin-left: 450px;
  z-index: 1;
}

.services__barre-image, .services__stretching-image {
  max-width: 520px;
  width: 100%;
  height: 450px;
  position: relative;
  margin-bottom: 40px;
  z-index: 2;
  -webkit-box-shadow: 0 9px 34px rgba(31, 29, 38, 0.8);
          box-shadow: 0 9px 34px rgba(31, 29, 38, 0.8);
}

.services__barre-image {
  background: url("../images/barre.png") no-repeat center;
  background-size: cover;
}

.services__stretching-image {
  background: url("../images/stretching-img.jpg") no-repeat center;
  background-size: cover;
}

.services__barre-text, .services__stretching-text {
  color: #333;
  max-width: 520px;
  width: 100%;
  text-align: center;
}

.services__stretching-title, .services__barre-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*************************************** CTA ***/
.cta {
  background: #800080;
  color: #fff;
  position: relative;
}

.cta button {
  background: #403c4a;
}

.cta button:hover {
  background: #555063;
}

.cta__offer {
  margin-top: 170px;
}

.cta__title {
  font-family: Lato-Bold, sans-serif;
  font-size: 32px;
  margin-bottom: 20px;
  max-width: 500px;
  width: 100%;
}

.cta__description {
  margin-bottom: 20px;
  max-width: 650px;
  width: 100%;
}

.cta__figure {
  -webkit-clip-path: polygon(10% 0%, 100% 0%, 100% 0%, 85.65% 100%);
          clip-path: polygon(10% 0%, 100% 0%, 100% 0%, 85.65% 100%);
  background: url("../images/pexels-andrea-piacquadio-868757.jpg") no-repeat bottom;
  background-size: cover;
  width: 100%;
  height: 90%;
  top: 0;
  left: 0;
  position: absolute;
}

/*************************************** OUR TEAM ***/
.our-team {
  background: #fff;
}

.our-team__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Lato-Bold, sans-serif;
  margin-bottom: 50px;
  font-size: 32px;
}

.our-team__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.our-team__all img {
  max-width: 500px;
  width: 100%;
  -webkit-box-shadow: 0 9px 34px rgba(31, 29, 38, 0.8);
          box-shadow: 0 9px 34px rgba(31, 29, 38, 0.8);
}

.our-team__line {
  border-top: 4px solid #800080;
  width: 50px;
  margin-bottom: 15px;
}

.our-team__image {
  margin-bottom: 40px;
  position: relative;
  z-index: 2;
}

.our-team__first, .our-team__second {
  max-width: 500px;
  width: 100%;
}

.our-team__info {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-team__info div {
  margin-bottom: 15px;
}

.our-team__info span {
  font-family: Lato-Bold, sans-serif;
  font-size: 28px;
  display: block;
}

.our-team__info i {
  color: #800080;
  font-size: 50px;
}

.our-team__square {
  width: 80px;
  height: 150px;
  border: 4px solid #800080;
  position: absolute;
  margin-left: -40px;
  margin-top: 70px;
  z-index: 1;
}

.our-team__second-square {
  width: 100px;
  height: 120px;
  background: #800080;
  position: absolute;
  margin-left: 430px;
  margin-top: 410px;
}

/*************************************** SCHEDULE ***/
.schedule {
  background: url("../images/content_bg.png");
  position: relative;
}

.schedule__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Lato-Bold, sans-serif;
  font-size: 32px;
  margin-bottom: 50px;
}

.schedule__pricelist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 60px;
}

.schedule__left-side {
  max-width: 550px;
  width: 100%;
}

.schedule__right-side {
  max-width: 450px;
  width: 100%;
}

.schedule__single, .schedule__four, .schedule__eight, .schedule__twelve, .schedule__private {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  width: 100%;
  padding: 15px 10px;
  margin-bottom: 20px;
}

.schedule__single:last-child, .schedule__four:last-child, .schedule__eight:last-child, .schedule__twelve:last-child, .schedule__private:last-child {
  margin-bottom: 0;
}

.schedule__single .schedule__small-title, .schedule__four .schedule__small-title, .schedule__eight .schedule__small-title, .schedule__twelve .schedule__small-title, .schedule__private .schedule__small-title {
  font-size: 20px;
}

.schedule__single .schedule__small-text, .schedule__four .schedule__small-text, .schedule__eight .schedule__small-text, .schedule__twelve .schedule__small-text, .schedule__private .schedule__small-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.schedule__single .schedule__price, .schedule__four .schedule__price, .schedule__eight .schedule__price, .schedule__twelve .schedule__price, .schedule__private .schedule__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  font-family: Lato-Bold, sans-serif;
}

.schedule__single i, .schedule__four i, .schedule__eight i, .schedule__twelve i, .schedule__private i {
  font-size: 22px;
  padding: 7px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background: #fff;
  padding: 40px 30px;
  border: 4px solid #800080;
  -webkit-box-shadow: 0 9px 34px rgba(31, 29, 38, 0.8);
          box-shadow: 0 9px 34px rgba(31, 29, 38, 0.8);
  height: 100%;
}

form input, form select {
  max-width: 350px;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  margin-bottom: 33px;
  border: 0;
  border-bottom: 1px solid #403c4a;
  font-family: Lato-Light, sans-serif;
}

form label.custom-select {
  position: relative;
  display: inline-block;
  max-width: 350px;
  width: 100%;
  margin-bottom: 33px;
}

form .custom-select select {
  display: inline-block;
  margin: 0;
  outline: none;
  line-height: 1.2;
  background: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
}

form .fa-angle-down {
  position: absolute;
  right: 0;
  bottom: 1px;
  background: transparent;
  padding: 12px 7px;
  pointer-events: none;
  font-size: 18px;
}

form .form-title {
  font-family: Lato-Bold, sans-serif;
  font-size: 27px;
  margin-bottom: 5px;
}

form p {
  margin-bottom: 20px;
}

form .primary-button {
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 18px;
  padding: 0 40px;
}

.schedule__week {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.schedule__week div {
  text-align: center;
  width: 100%;
  border-right: 1px solid #403c4a;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
}

.schedule__week div:last-child {
  border-right: 0;
}

.schedule__week .schedule__week-title {
  font-family: Lato-Bold, sans-serif;
  display: inline-block;
  font-size: 25px;
}

.schedule__week .schedule__week-text {
  font-size: 20px;
  line-height: 30px;
}

.schedule__week i {
  color: #800080;
  font-size: 35px;
  margin-bottom: 5px;
  margin-top: 25px;
}

/*************************************** BENEFITS ***/
.benefits {
  background: url("../images/content_bg.png");
}

.benefits__title {
  text-align: center;
  font-family: Lato-Bold, sans-serif;
  font-size: 32px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.benefits__title span {
  margin-bottom: 10px;
}

.benefits__first, .benefits__second, .benefits__third, .benefits__fourth {
  max-width: 1200px;
  width: 100%;
  height: 450px;
  position: relative;
  margin-bottom: 100px;
  -webkit-box-shadow: 0 9px 34px rgba(31, 29, 38, 0.8);
          box-shadow: 0 9px 34px rgba(31, 29, 38, 0.8);
  margin-bottom: 40px;
  border: 4px solid #800080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__help-div {
  width: 60%;
  height: 100%;
}

.benefits__first {
  background: url("../images/benefits-first.jpg") no-repeat top left;
  background-size: 70%;
}

.benefits__second {
  background: url("../images/benefits-second.jpg") no-repeat right;
  background-size: 70%;
}

.benefits__third {
  background: url("../images/benefits-third.jpg") no-repeat left;
  background-size: 70%;
}

.benefits__fourth {
  background: url("../images/benefits-fourth.jpg") no-repeat bottom right;
  background-size: 70%;
}

.benefits__right-figure, .benefits__left-figure {
  background: #fff;
  width: 40%;
  height: 100%;
  bottom: 0;
  right: 0;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  text-align: center;
}

.benefits__right {
  -webkit-clip-path: polygon(0% 101%, 100% 101%, 100% 0%, 20% 0%);
          clip-path: polygon(0% 101%, 100% 101%, 100% 0%, 20% 0%);
}

.benefits__left {
  -webkit-clip-path: polygon(0% 101%, 100% 101%, 80% 0%, 0% 0%);
          clip-path: polygon(0% 101%, 100% 101%, 80% 0%, 0% 0%);
}

.benefits__text {
  max-width: 370px;
  width: 100%;
}

.benefits__text span {
  font-family: Lato-Bold, sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
  display: block;
}

.benefits__text i {
  font-size: 40px;
  margin-bottom: 20px;
  color: #800080;
}

.benefits__text-left {
  margin-left: -50px;
}

.benefits__text-right {
  margin-left: 50px;
}

.benefits__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*************************************** GALLERY ***/
.gallery {
  background: url("../images/content_bg.png");
}

.gallery__title {
  text-align: center;
  font-family: Lato-Bold, sans-serif;
  font-size: 32px;
  margin-bottom: 50px;
  color: #333;
}

.gallery__area {
  position: relative;
  z-index: 2;
}

.gallery__area img {
  width: 33%;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  /* Animation */
}

.gallery__area img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 9px 34px rgba(31, 29, 38, 0.8);
          box-shadow: 0 9px 34px rgba(31, 29, 38, 0.8);
}

.gallery__next-line {
  margin-top: -5px;
}

/*************************************** FOOTER ***/
.footer {
  background: #060709;
  color: #fff;
}

.footer .container {
  padding: 40px 0;
}

.footer a {
  color: #fff;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__company, .footer__contact, .footer__ask {
  width: 33%;
}

.footer__company div, .footer__contact div, .footer__ask div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 15px;
}

.footer__company span, .footer__contact span, .footer__ask span {
  font-size: 25px;
  display: block;
  margin-bottom: 5px;
}

.footer__line {
  border-top: 4px solid #800080;
  width: 50px;
  padding-bottom: 15px;
}

.footer__icon {
  width: 30px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  margin-right: 7px;
}

/*************************************** BUTTON TOP ***/
#buttonTop {
  text-align: center;
  display: none;
  position: fixed;
  padding-top: 12px;
  bottom: 55px;
  right: 16px;
  z-index: 999;
  background: #403c4a;
  color: #fff;
  height: 48px;
  width: 48px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 50%;
}

/********************************************** POP UP *****/
.bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.pop-up {
  max-width: 450px;
  position: fixed;
  top: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2001;
  text-align: center;
}

.pop-up .close {
  position: absolute;
  right: 0;
  margin-right: 12px;
  font-size: 40px;
  color: #403c4a;
  cursor: pointer;
}

.pop-up .close:hover {
  opacity: 0.8;
}

.pop-up p {
  color: #666666;
}

.pop-up .primary-button {
  margin-bottom: 10px;
}

.pop-up__confidential {
  margin: 0;
  font-size: 15px;
}

/********************************************** THANK YOU *****/
.thank-you {
  height: 500px;
  background: url("../images/main-bg.jpg") no-repeat center;
  background-size: cover;
}

.thank-you__container {
  padding-top: 40px;
}

.thank-you__text-area {
  color: #fff;
  text-align: center;
}

.thank-you__text-area p {
  margin: 0;
  font-size: 35px;
}

.thank-you__final-words h1 {
  font-size: 45px;
}

@media screen and (max-width: 1000px) {
  .benefits__first {
    max-width: 600px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 550px;
    background-size: cover;
  }
  .benefits__right-figure {
    width: 100%;
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 9%, 0% 25%);
            clip-path: polygon(0% 100%, 100% 100%, 100% 9%, 0% 25%);
    height: 85%;
  }
  .test__text {
    margin-left: 0;
    margin-top: 50px;
  }
  .benefits__help-div {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */