@font-face {
  font-family: Lato-Light;
  src: url(../fonts/Lato-Light.ttf);
}

@font-face {
  font-family: Lato-Bold;
  src: url(../fonts/Lato-Bold.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Lato-Light, sans-serif;
  font-size: 20px;
  min-width: 320px;
}

h1 {
  font-family: Lato-Bold, sans-serif;
}

.active {
  font-family: Lato-Bold, sans-serif;
  -webkit-box-shadow: 0 4px 0 #800080;
          box-shadow: 0 4px 0 #800080;
}

.container {
  max-width: 1180px;
  width: 100%;
  padding: 70px 0;
  margin: 0 auto;
}

.primary-button {
  -webkit-box-shadow: 0 9px 34px rgba(31, 29, 38, 0.8);
          box-shadow: 0 9px 34px rgba(31, 29, 38, 0.8);
  border: 0;
  border-radius: 3px;
  padding: 0 28px;
  height: 50px;
  font-size: 22px;
  background: #800080;
  color: #fff;
  font-family: Lato-Bold, sans-serif;
  cursor: pointer;
}

.primary-button:hover {
  background: #b300b2;
}

/*************************************** HEADER ***/
.header {
  background: #060709;
  color: #fff;
  width: 100%;
}

.header .container {
  padding: 20px 0;
}

.header__materials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo img {
  width: 200px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__menu div {
  margin-left: 20px;
}

.header__menu p:hover {
  -webkit-box-shadow: 0 4px 0 #800080;
          box-shadow: 0 4px 0 #800080;
}

.header__contacts a {
  color: #fff;
  text-decoration: none;
}

.header__contacts a:hover {
  -webkit-box-shadow: 0 4px 0 #800080;
          box-shadow: 0 4px 0 #800080;
}

.header__contacts p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__contacts i {
  font-size: 25px;
  margin-right: 7px;
}

.header__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__language p {
  margin-left: 15px;
}

/*************************************** MAIN-SCREEN ***/
.main-screen {
  height: 1000px;
  background: url("../images/main-bg.jpg") no-repeat bottom;
  background-size: cover;
  color: #fff;
}

.main-screen .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0;
}

.main-screen h1 {
  margin-bottom: 10px;
}

.main-screen button {
  height: 55px;
}

.main-screen__title {
  text-align: center;
  margin-bottom: 20px;
}

/*************************************** SERVICES ***/
.services__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Lato-Bold, sans-serif;
  margin-bottom: 50px;
  font-size: 32px;
}

.services__main-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__main-card .title {
  font-family: Lato-Bold, sans-serif;
  font-size: 28px;
  display: inline-block;
}

.services__main-card span {
  font-family: Lato-Bold, sans-serif;
  margin-bottom: 15px;
}

.services__main-card p {
  font-size: 20px;
}

.services__main-card a {
  font-family: Lato-Bold, sans-serif;
  font-size: 20px;
  margin-top: 20px;
  display: inline-block;
}

.services__main-card a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.services__main-card ul {
  list-style-type: square;
}

.services__main-card ul li {
  margin-bottom: 10px;
}

.services__line {
  border-top: 4px solid #800080;
  width: 50px;
  margin-bottom: 15px;
}

.services__barre-square {
  width: 80px;
  height: 80px;
  background-color: #800080;
  position: absolute;
  margin-left: -25px;
  margin-top: -30px;
}

.services__stretching-square {
  width: 100px;
  height: 150px;
  border: 4px solid #800080;
  position: absolute;
  margin-top: 330px;
  margin-left: 450px;
  z-index: 1;
}

.services__barre-image, .services__stretching-image {
  max-width: 520px;
  width: 100%;
  height: 450px;
  position: relative;
  margin-bottom: 40px;
  z-index: 2;
  -webkit-box-shadow: 0 9px 34px rgba(31, 29, 38, 0.8);
          box-shadow: 0 9px 34px rgba(31, 29, 38, 0.8);
}

.services__barre-image {
  background: url("../images/barre.png") no-repeat center;
  background-size: cover;
}

.services__stretching-image {
  background: url("../images/stretching-img.jpg") no-repeat center;
  background-size: cover;
}

.services__barre-text, .services__stretching-text {
  color: #333;
  max-width: 520px;
  width: 100%;
  text-align: center;
}

.services__stretching-title, .services__barre-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*************************************** CTA ***/
.cta {
  background: #800080;
  color: #fff;
  position: relative;
}

.cta button {
  background: #403c4a;
}

.cta button:hover {
  background: #555063;
}

.cta__offer {
  margin-top: 170px;
}

.cta__title {
  font-family: Lato-Bold, sans-serif;
  font-size: 32px;
  margin-bottom: 20px;
  max-width: 500px;
  width: 100%;
}

.cta__description {
  margin-bottom: 20px;
  max-width: 650px;
  width: 100%;
}

.cta__figure {
  -webkit-clip-path: polygon(10% 0%, 100% 0%, 100% 0%, 85.65% 100%);
          clip-path: polygon(10% 0%, 100% 0%, 100% 0%, 85.65% 100%);
  background: url("../images/pexels-andrea-piacquadio-868757.jpg") no-repeat bottom;
  background-size: cover;
  width: 100%;
  height: 90%;
  top: 0;
  left: 0;
  position: absolute;
}

/*************************************** OUR TEAM ***/
.our-team {
  background: #fff;
}

.our-team__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Lato-Bold, sans-serif;
  margin-bottom: 50px;
  font-size: 32px;
}

.our-team__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.our-team__all img {
  max-width: 500px;
  width: 100%;
  -webkit-box-shadow: 0 9px 34px rgba(31, 29, 38, 0.8);
          box-shadow: 0 9px 34px rgba(31, 29, 38, 0.8);
}

.our-team__line {
  border-top: 4px solid #800080;
  width: 50px;
  margin-bottom: 15px;
}

.our-team__image {
  margin-bottom: 40px;
  position: relative;
  z-index: 2;
}

.our-team__first, .our-team__second {
  max-width: 500px;
  width: 100%;
}

.our-team__info {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-team__info div {
  margin-bottom: 15px;
}

.our-team__info span {
  font-family: Lato-Bold, sans-serif;
  font-size: 28px;
  display: block;
}

.our-team__info i {
  color: #800080;
  font-size: 50px;
}

.our-team__square {
  width: 80px;
  height: 150px;
  border: 4px solid #800080;
  position: absolute;
  margin-left: -40px;
  margin-top: 70px;
  z-index: 1;
}

.our-team__second-square {
  width: 100px;
  height: 120px;
  background: #800080;
  position: absolute;
  margin-left: 430px;
  margin-top: 410px;
}

/*************************************** TEAM ***/
.team {
  background: url("../images/pexels-andrea-piacquadio-868757.jpg") no-repeat center;
  background-size: cover;
  height: 530px;
  position: relative;
}

.team__figure {
  -webkit-clip-path: polygon(6% 100%, 85% 100%, 85% 100%, 20% 25%);
          clip-path: polygon(6% 100%, 85% 100%, 85% 100%, 20% 25%);
  background: #800080;
  position: absolute;
  width: 100%;
  height: 90%;
  bottom: 0;
  left: 0;
}

.team__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Lato-Bold, sans-serif;
  font-size: 32px;
  margin-bottom: 20px;
}

/*************************************** BENEFITS ***/
.benefits {
  background: url("../images/content_bg.png");
}

.benefits__title {
  text-align: center;
  font-family: Lato-Bold, sans-serif;
  font-size: 32px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.benefits__title span {
  margin-bottom: 10px;
}

.benefits__first, .benefits__second, .benefits__third, .benefits__fourth {
  max-width: 1200px;
  width: 100%;
  height: 450px;
  position: relative;
  margin-bottom: 100px;
  -webkit-box-shadow: 0 9px 34px rgba(31, 29, 38, 0.8);
          box-shadow: 0 9px 34px rgba(31, 29, 38, 0.8);
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__help-div {
  width: 60%;
  height: 100%;
}

.benefits__first {
  background: url("../images/benefits-first.jpg") no-repeat top left;
  background-size: 70%;
}

.benefits__second {
  background: url("../images/benefits-second.jpg") no-repeat right;
  background-size: 70%;
}

.benefits__third {
  background: url("../images/benefits-third.jpg") no-repeat left;
  background-size: 70%;
}

.benefits__fourth {
  background: url("../images/benefits-fourth.jpg") no-repeat bottom right;
  background-size: 70%;
}

.benefits__right-figure, .benefits__left-figure {
  background: #403c4a;
  width: 40%;
  height: 100%;
  bottom: 0;
  right: 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  text-align: center;
}

.benefits__right {
  -webkit-clip-path: polygon(0% 101%, 100% 101%, 100% 0%, 20% 0%);
          clip-path: polygon(0% 101%, 100% 101%, 100% 0%, 20% 0%);
}

.benefits__left {
  -webkit-clip-path: polygon(0% 101%, 100% 101%, 80% 0%, 0% 0%);
          clip-path: polygon(0% 101%, 100% 101%, 80% 0%, 0% 0%);
}

.benefits__text {
  max-width: 370px;
  width: 100%;
}

.benefits__text span {
  font-family: Lato-Bold, sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
  display: block;
}

.benefits__text i {
  font-size: 40px;
  margin-bottom: 20px;
}

.benefits__text-left {
  margin-left: -50px;
}

.benefits__text-right {
  margin-left: 50px;
}

.benefits__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*************************************** GALLERY ***/
.gallery {
  background: url("../images/content_bg.png");
}

.gallery__title {
  text-align: center;
  font-family: Lato-Bold, sans-serif;
  font-size: 32px;
  margin-bottom: 50px;
  color: #333;
}

.gallery__area img {
  width: 33%;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  /* Animation */
}

.gallery__area img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 9px 34px rgba(31, 29, 38, 0.8);
          box-shadow: 0 9px 34px rgba(31, 29, 38, 0.8);
}

.gallery__square {
  width: 80px;
  height: 150px;
  border: 4px solid #800080;
  position: absolute;
  z-index: 1;
  margin-top: -30px;
  margin-left: -20px;
}

.gallery__next-line {
  margin-top: -5px;
}

/*************************************** FOOTER ***/
.footer {
  background: #403c4a;
  height: 400px;
}

/*************************************** FACTS ***/
.facts {
  background: url("../images/content_bg.png");
}

.facts__title {
  text-align: center;
  font-family: Lato-Bold, sans-serif;
  font-size: 32px;
  margin-bottom: 50px;
  color: #333;
}

.facts__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #333;
  text-align: center;
}

.facts__all i {
  font-size: 50px;
}

.facts__health, .facts__location {
  width: 33%;
}

.facts__health img, .facts__location img {
  width: 80%;
}

.facts__location-image, .facts__health-image {
  margin-bottom: 20px;
}

/*************************************** BUTTON TOP ***/
#buttonTop {
  text-align: center;
  display: none;
  position: fixed;
  padding-top: 12px;
  bottom: 55px;
  right: 16px;
  z-index: 999;
  background: #060709;
  color: #fff;
  height: 48px;
  width: 48px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 50%;
}

@media screen and (max-width: 1000px) {
  .benefits__first {
    max-width: 600px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 550px;
    background-size: cover;
  }
  .benefits__right-figure {
    width: 100%;
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 9%, 0% 25%);
            clip-path: polygon(0% 100%, 100% 100%, 100% 9%, 0% 25%);
    height: 85%;
  }
  .test__text {
    margin-left: 0;
    margin-top: 50px;
  }
  .benefits__help-div {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */